.todo {
  margin-top: 5%;
  background: transparent;
  @include flexCenter(column);

  .add-todo {
    @include flexCenter(row);
    background: red;
    top: 0%;
    left: 0;
    margin-top: 5%;
    form {
      display: flex;
    }
    input {
      @include inputs();
    }
    button {
      @include buttons();
    }
  }
}
